@page "/Offers/"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@using Radzen
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore

<head>
    <link rel="stylesheet" href="./Index.razor.css">
</head>

    <h3>
        <h1>Przeglądanie ofert</h1>
        <img src="/logogrzejemy.png">
    </h3>
<body>


<div class="datagrid">

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="20" AllowPaging="true" AllowSorting="true" Data="@offersDataGrid" TItem="Offer" ColumnWidth="200px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        LogicalFilterOperator="LogicalFilterOperator.Or" AllowMultiColumnSorting="true" >
    <Columns>
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.Name" Title="Punkt Sprzedaży" />
        <RadzenDataGridColumn TItem="Offer" Property="FuelType.Name" Title="Typ Opału" />
        <RadzenDataGridColumn TItem="Offer" Property="Price" Title="Cena" Filterable="true" Sortable="true" />
        <RadzenDataGridColumn TItem="Offer" Property="FuelType.Unit" Title="Jednostka" />
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.PostCode" Title="Kod pocztowy" />
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.City" Title="Miasto" />
        <RadzenDataGridColumn TItem="Offer" Context="Offer" Title="Szczegóły">
            <Template Context="Offer">
                <RadzenButton Icon="list" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click=@(args => GoToComments(Offer.Id)) @onclick:stopPropagation="true" />
            <AuthorizeView Roles="vendor">
                    @if (Offer.SalesPoint.Vendor.Id == currUserId)
                    {
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => GoToEdit(Offer.Id)) @onclick:stopPropagation="true" />
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => DeleteOfferAsync(Offer))  @onclick:stopPropagation="true" />
                    }
            </AuthorizeView>
            <AuthorizeView Roles="admin">
                 <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => DeleteOfferAsync(Offer))  @onclick:stopPropagation="true" />
            </AuthorizeView  >
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
</div>
</body>

@*<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">Punkt sprzedaży</th>
            <th scope="col">opał</th>
            <th scope="col">cena</th>
            <th scope="col">kod pocztowy</th>
            <th scope="col">Miasto</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (offers != null)
        {
            foreach (var offer in offers)
            {
                {
                    <tr>
                        <td>@offer.SalesPoint.Name</td>
                        <td>@offer.FuelType.Name</td>

                        @if (Regex.IsMatch(@offer.FuelType.Name, @"drewno.*"))
                        {
                            <td>@offer.Price zł/m3</td>
                        }
                        else
                        {
                            <td>@offer.Price zł/tona</td>
                        }
                        <td>@offer.SalesPoint.PostCode</td>
                        <td>@offer.SalesPoint.City</td>
                        <td>
                            <a href="Offers/@offer.Id/Comments" class="btn btn-warning btn-lg w-20 my-2">
                                Details and comments
                            </a>
                            <AuthorizeView Roles="vendor">
                                <a href="Offers/Update/@offer.Id" class="btn btn-warning btn-lg w-20 my-2">
                                    Update
                                </a>
                            </AuthorizeView>
                            <AuthorizeView Roles="vendor, admin">
                                <button @onclick="() => DeleteOfferAsync(offer)" class="btn btn-danger btn-lg w-20 my-2">
                                    Delete
                                </button>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>*@


