@page "/Offers/{Id:int}/Comments"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider
@using Radzen
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore

<head>
    <link rel="stylesheet" href="./Index.razor.css">
</head>

<h3>Szczegóły Oferty</h3>

<div class="rz-background-color-warning">
<RadzenCard class="m-3">
    <h3 class="h5">@offer.SalesPoint.Name</h3>
    <div class="d-flex flex-row">
        <div>
            <div class="details">
                <div class="price">
                    <p>@offer.Price zł/@offer.FuelType.Unit</p>
                </div>
                <p>@offer.FuelType.Name</p>
                <div class="adress">
                <p>Adres:</p>
                </div>
                <p>@offer.SalesPoint.Street @offer.SalesPoint.Number</p>
                <p>@offer.SalesPoint.PostCode @offer.SalesPoint.City</p>

            </div>
        </div>
    </div>
</RadzenCard>
</div>

@*<div class="Name">
    <p>@offer.SalesPoint.Name</p>
</div>
<div class="details">
    <div class="price">
        <p>@offer.Price zł/@offer.FuelType.Unit</p>
    </div>
    <p>@offer.FuelType.Name</p>
    <p>Adres:</p>
    <p>@offer.SalesPoint.Street @offer.SalesPoint.Number</p>
    <p>@offer.SalesPoint.PostCode @offer.SalesPoint.City</p>

</div>*@

<AuthorizeView Roles="buyer">
    <a href="Offers/@offer.Id/Comments/Create" class="btn btn-warning btn-lg w-20 my-4">Dodaj komentarz</a>
</AuthorizeView>

<div class="table">
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">Komentarz</th>
            <th scope="col">Zapłacona kwota</th>
            <th scope="col">Paragon</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (comments != null)
        {
            foreach (var comment in comments)
            {
                <tr>
                    <td>@comment.Content</td>
                    <td>@comment.PaidPrice zł</td>
                    <td>
                        @if (comment.ParagonPhoto != null)
                        {
                            <RadzenImage Path="@($"data:image/jpeg;base64,{Convert.ToBase64String(comment.ParagonPhoto)}")" />
                        }
                    </td>
                    <td>
                        @*<a href="FuelTypes/Update/@comment.Id" class="btn btn-warning btn-lg w-20 my-2">
                            Update
                        </a>*@
                        <AuthorizeView Roles="admin">
                            @*<button @onclick="() => DeleteFuelTypeAsync(comment)" class="btn btn-danger btn-lg w-20 my-2">
                                Delete
                            </button>*@
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    </div>


@inject IJSRuntime JsRuntime

